$colors_: ('brand', $brand-color),
        ('white', white),
        ('black', black) !default !global;
$backgrounds: $colors_ !default;

.color {
  @each $label, $color in $colors_ {
    &-#{$label} {
      color: $color;
    }
  }
}

.background {
  @each $label, $color in $colors_ {
    &-#{$label} {
      background-color: $color;
    }
  }
}

hr {
  &.color {
    @each $label, $color in $colors_ {
      &-#{$label} {
        border-color: $color;
      }
    }
  }
}

a {
  &.color {
    @each $label, $color in $colors_ {
      &-#{$label} {
        &:hover {
          color: $color !important;
        }
      }
    }
  }
}