.thin {
  font-family: 'Poppins Thin', sans-serif;
}

.extra-light {
  font-family: 'Poppins ExtraLight', sans-serif;
}

.light {
  font-family: 'Poppins Light', sans-serif;
}

.medium {
  font-family: 'Poppins Medium', sans-serif;
}

.semi-bold {
  font-family: 'Poppins SemiBold', sans-serif;
}

.bold {
  font-weight: bold;
}

.extra-bold {
  font-family: 'Poppins ExtraBold', sans-serif;
}

.black {
  font-family: 'Poppins Black', sans-serif;
}

