@import './backgrounds';

.btn {
  font-size: 1.15rem;
  padding: .85rem 2.65rem;
  border-radius: 6px;
  transition: all .2s ease-in-out;

  @include media(">=desktop") {
    font-size: 1rem;
  }

  @each $label, $color in $colors_ {
    &-#{$label} {
      background-color: $color;
      border-color: $color;
      @if $color == black {
        color: white;
      }

      &:hover {
        background-color: lighten($color, 5%) !important;
        border-color: lighten($color, 5%) !important;
      }

      &:not(:disabled):not(.disabled).active {
        background-color: darken($color, 12%) !important;
        border-color: darken($color, 12%) !important;
      }

      &:focus {
        box-shadow: none !important;
        background-color: lighten($color, 10%) !important;
        border-color: lighten($color, 10%) !important;
      }

      &.btn-has-shadow {
        box-shadow: 0 10px 16px 0 rgba($color, 0.2);

        &:hover {
          box-shadow: 0 10px 26px 0 rgba($color, 0.5);
        }
      }
    }
  }

  @each $label, $color in $colors_ {
    &-outline-#{$label} {
      color: $color;
      border-color: $color;
      border-width: 2px;

      &:hover {
        background-color: $color;
        border-color: $color;
      }

      &:not(:disabled):not(.disabled).active {
        background-color: darken($color, 8%) !important;
        border-color: darken($color, 8%) !important;
      }
    }
  }
}