@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import '~include-media/dist/_include-media.scss';

@import 'colors';
@import 'backgrounds';
@import 'spacing';
@import 'typography';
@import 'icons';
@import 'sections';
@import 'fullpage';
@import 'landing/landing';
@import 'specialty/specialty';

//******************
// Global Variables
//******************

// Colors


//******************
// Main Styles
//******************

body {
  background: #fff;
  color: #000;
  font-family: 'Poppins', sans-serif;
}

