@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-svg-core/styles.css';
@import '~include-media/dist/_include-media.scss';

@import 'colors';
@import 'backgrounds';
@import 'spacing';
@import 'transformations';
@import 'typography';
@import 'icons';
@import 'buttons';
@import 'sections';
@import 'fullpage';
@import 'landing/landing';
@import 'projects/projects';
@import 'page404/page404';

//******************
// Global Variables
//******************

// Colors


//******************
// Main Styles
//******************

body {
  background: #fff;
  color: #1f2732;
  font-family: 'Poppins', sans-serif;
}

