$home-section-transformation-width: 1100px !default;

.section {
  min-height: 300px;

  &-spacer {
    margin-top: 4rem;

    &-large {
      @extend .mt-8;
      @include media('<tablet') {
        margin-top: 4rem !important;
      }
    }
  }

  &-fullheight {
    height: 100vh;
  }
}