.font-weight-black {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: $anchor-color;
  transition: 0.25s;

  &:hover {
    color: $anchor-hover-color;
    text-decoration: none;
  }
}

.title {
  @extend .font-weight-black;
}
