.section-specialties {
  background: url('../assets/dot-pattern.png') top 200px left -100px no-repeat,
  url('../assets/dot-pattern.png') bottom 100px right -100px no-repeat;
}

.specialties {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;

  @include media('<560px') {
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr);
  }
}

.specialty {
  &-box {
    background-position: center center;
    background-size: cover;
    background-color: rgba(0, 0, 0, .55);
    background-blend-mode: multiply;
    border-radius: 5px;
    transition: all .3s ease-in-out;

    @include media('<560px') {
      grid-row: span 3 !important;
      grid-column: span 3 !important;
    }

    &:hover {
      background-color: initial;

      .specialty-title {
        transform: translateY(-25px);
        opacity: 0;
      }
    }
  }

  &-title {
    letter-spacing: 2px;
    transition: all .3s ease-in-out;
  }
}

.specialty-box-background {
  @include media('<1350px') {
    display: none;
  }
}