$go-back-dimensions: 100px;
$circle-dimensions: 550px;
$square-dimensions: 825px;
$square-border-radius: 130px;
$project-background-award-width: 66px;
$project-background-award-triangle-height: $project-background-award-width / 2;
$project-background-award-triangle-width: $project-background-award-triangle-height - 7px;

.go-back {
  position: fixed;
  top: 0;
  left: 0;
  width: $go-back-dimensions;
  height: $go-back-dimensions;
  border-style: solid;
  border-width: $go-back-dimensions $go-back-dimensions 0 0;
  border-color: #ffffff transparent transparent transparent;

  .arrow {
    left: 15px;
    top: -90px;

    &:hover {
      .arrow-icon {
        transform: translateX(-5px);
      }
    }

    &-icon {
      transition: color .8s ease-in-out, transform .1s ease-in-out;
    }
  }

  @media screen and (max-height: 730px), (max-width: 400px) {
    border-color: transparent;

    .arrow {
      transform: rotate(180deg);
      left: initial;
      right: 20px;

      .arrow-icon {
        color: white !important;
      }
    }
  }
}

.project-background-blobs {
  .blob {
    position: absolute;
  }

  .circle {
    width: $circle-dimensions;
    height: $circle-dimensions;
    border-radius: 100%;
    left: -$circle-dimensions / 2;
    bottom: -$circle-dimensions / 2;
  }

  .square {
    width: $square-dimensions;
    height: $square-dimensions;
    right: 0;
    top: 0;
    border-radius: $square-border-radius 0 $square-border-radius $square-border-radius;
    opacity: .35;
  }
}

.project-background {
  width: 1000px;

  &-image {
    border-radius: 15px;
    box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, .35);
    width: 100%;
  }

  &-award {
    width: $project-background-award-width;
    border-top-right-radius: 15px;
    top: 0;
    right: 15px;

    &:before, &:after {
      content: '';
      position: absolute;
      top: 100%;
    }

    &:before {
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: $project-background-award-triangle-width $project-background-award-triangle-height 0 0;
      border-color: #ffffff transparent transparent transparent;
    }

    &:after {
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 $project-background-award-triangle-height $project-background-award-triangle-width 0;
      border-color: transparent #ffffff transparent transparent;
    }
  }

  @include media('<1520px') {
    width: 800px;
  }

  @include media('<1220px') {
    width: 600px;
  }

  @include media('<600px') {
    display: none !important;
  }
}

.project {
  .title {
    @include media('<tablet') {
      font-size: 2rem;
    }
  }

  .desc {
    white-space: pre-line;
  }
}