$home-content-logo-height: 35px;
$letter-combined-height: 50px;

.home-content {
  width: 60%;

  @include media('<tablet') {
    margin-top: 2rem !important;

    &-row {
      height: initial !important;
    }
  }

  @include media ('<#{$home-section-transformation-width + 200px}') {
    width: 75%;
  }

  @include media('<#{$home-section-transformation-width}') {
    width: 90%;
  }

  &-hr {
    min-width: 200px;
  }

  &-logo {
    top: 0;
    width: 100%;

    &-responsive {
      display: none;

      @include media('<#{$home-section-transformation-width}') {
        display: block;
      }

      .letter-combined {
        width: $letter-combined-height;
      }
    }
  }
}