$home-content-logo-height: 35px;
$letter-combined-height: 50px;

.home-content {
  width: 65%;

  @include media('<tablet') {
    top: 25%;
  }

  @include media ('<#{$home-section-transformation-width + 200px}') {
    width: 75%;
  }

  @include media('<#{$home-section-transformation-width}') {
    width: 90%;
  }

  &-hr {
    min-width: 200px;
  }

  &-col {
    @include media('<tablet') {
      height: 100%;
    }
  }

  &-logo {
    top: 0;
    width: auto;
    height: $home-content-logo-height;

    &-responsive {
      display: none;

      @include media('<#{$home-section-transformation-width}') {
        display: block;
      }

      @include media('<tablet') {
        .letter-combined {
          transform: translateY(-5px);
          position: absolute;
          right: 0;
          top: 0;
          width: $letter-combined-height;
        }
      }
    }
  }
}