.section-home {
  min-height: 775px;
}

.letter {
  position: absolute;
  top: 50%;
  left: 50vw;
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
  perspective: 200px;
}

.preview-featured {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  perspective: 400px;
}

.preview-right {
  height: 100%;
}

.preview-featured-fill {
  height: 100%;
  width: 100%;
  background: $brand-color;
}

.preview-img {
  width: 50%;
  height: 100%;
  margin: 0 0 0 auto;
  overflow: hidden;
}

.preview-fill {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden;
  background: #fff;
}

.preview-featured-image {
  position: absolute;
  left: 80%;
  top: 80%;
  transform: translate(-50%, -50%);
}

@include media('<#{$home-section-transformation-width}') {
  .preview-featured,
  .preview-fill,
  .letter {
    display: none;
  }
}